<div class="session-greeting">
    <AuthorizeView>
        <Authorized Context="authState">
            <div>
                Hi, <strong>@(authState.User.Identity?.Name ?? "friend")</strong>. What's your status today?
            </div>
            <EditForm Model="this" method="post" OnSubmit="Logout" FormName="logout">
                <button type="submit">Logout</button>
            </EditForm>
        </Authorized>
        <NotAuthorized>
            <div><a href="login">Log in</a> to set your status!</div>
            <div>
                <a href="login" class="button">Log in</a>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {

    [Inject] 
    private NavigationManager NavigationManager { get; set; } = null!;
    
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = null!;

    private async Task Logout()
    {
        await HttpContext.SignOutAsync();
        NavigationManager.NavigateTo("", forceLoad: true);
    }
}